.sidebar {
  position: fixed;
  height: 100vh;
  width: 160px;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  color: antiquewhite;
  font-weight: bold;
  float: left;
  margin-top: 45px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  cursor: pointer;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-top: 60px;
  float: right;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.user{
  margin: 10px;
  cursor: pointer;
}
.cardImg{
  height: 250px;
}
.selected{
  border: 1px solid gray;
}
.actionButton{
  margin: 5px;
}