<form #loginForm="ngForm" class="container" (ngSubmit)="handleLoginForm()">
  <div class="form-group">
    <label for="email">Email address</label>
    <input #email="ngModel" pattern = "^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}" type="email" class="form-control" name="email" placeholder="Enter email" required [(ngModel)]="userModel.email">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Invalid email id {{userModel.email}}
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input minlength="6" #password="ngModel" type="password" class="form-control" name="password" placeholder="Password" required [(ngModel)]="userModel.password">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password cannot be less than 6 characters
    </div>
  </div>
  <div *ngIf="isClicked">
    <div class="form-group">
      <label for="fullname">Fullname</label>
      <input pattern="^[a-zA-Z ]+$" #name="ngModel" type="text" class="form-control" name="fullname" placeholder="Enter name" required [(ngModel)]="userModel.name">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
         Full Name cannot have numbers and be less than 6 characters
      </div>
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" name="role" placeholder="Password" required [(ngModel)]="userModel.role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
    </div>
  </div>
  <button [disabled]="!loginForm.form.valid" class="btn btn-primary float-left">{{submitButtonVal}}</button>
  <button class="btn btn-secondary float-right" (click)= "isClicked = false;submitButtonVal = 'Login'" *ngIf="isClicked">Back to login</button>
  <button class="btn btn-danger float-right" *ngIf="!isClicked" (click)="register()">Register</button>
</form>