<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: aliceblue">eCommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="nav-link" style="color: aliceblue" (click)="onLogout()">Logout</a>
  </div>
</nav>
<div class="sidebar sticky">
  <ul>
    <li>
      <button type="button" class="btn btn-primary actionButton" data-toggle="modal" data-target="#cartModal">
        Cart
    </button>
    </li>
  </ul>
</div>

<div class="main">
<div class="container">
      <div (click)="select(product)" [class.selected]="product === selectedProduct" class="card float-left product"  style="width: 18rem;" *ngFor="let product of product">
              <img [src]="product.imgLink" class="card-img-top cardImg" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.productPrice}}$</p>
                <button type="button" class="btn btn-primary" (click)="buy(product)">Buy</button>
              </div>
      </div>
</div>
</div>
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalTitle">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card float-left product"  style="width: 18rem;" *ngFor="let bought of bought,let i = index">
          <img [src]="product.imgLink" class="card-img-top cardImg" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{bought.productName}}</h5>
            <p class="card-text">{{bought.productPrice}}$</p>
            <button type="button" class="btn btn-danger" (click)="remove(bought)">Remove</button>
          </div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>